[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
geopy = "*"
requests = "*"
Pillow = "*"
spidev = "*"
"RPi.GPIO" = "*"
gpiozero = "*"
pillow = "*"

[requires]
python_version = "3.7"
